<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="voterwatchEntities" connectionString="metadata=res://*/Tracking.csdl|res://*/Tracking.ssdl|res://*/Tracking.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vwatchdb.celv3evjhsqi.us-east-1.rds.amazonaws.com:3306;User Id=votewatcher;password=Vmaaw22%;Persist Security Info=True;database=voterwatch&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Insert">
      <forms loginUrl="/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership defaultProvider="PrecinctCaptainmembershipProvider">
      <providers>
        <clear/>
        <add name="PrecinctCaptainMembershipProvider" type="VoterWatch.auth.DistrictMembership"
             applicationName="/" />
      </providers>
    </membership>

    <roleManager defaultProvider="PrecinctCaptainRoleProvider">
      <providers>
        <clear/>
        <add name="PrecinctCaptainRoleProvider" type="VoterWatch.auth.DistrictRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <machineKey decryptionKey="AutoGenerate" validation="SHA1" validationKey="AutoGenerate" xdt:Transform="Insert"/>
    
    <authorization xdt:Transform="Insert">
      <allow roles="useradmin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>