<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="VoterWatchServices.districts.VotingDistricts">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.districts.IVotingDistricts">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.districts/VotingDistricts/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.districts.DistrictModel">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.districts.IDistrictModel">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.districts/DistrictModel/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.system.AddressFields">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.system.IAddressFields">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.system/AddressFields/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.search.DistrictFields">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.search.IDistrictFields">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.search/DistrictFields/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.search.VoterFields">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.search.IVoterFields">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.search/VoterFields/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.system.SystemLists">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.system.ISystemLists">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.system/SystemLists/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.tallies.Counts">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.tallies.ICounts">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.tallies/Counts/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.tallies.Ledger">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.tallies.ILedger">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.tallies/Ledger/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.tallies.Lists">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.tallies.ILists">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.tallies/Lists/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.admin.UserAdmin">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.admin.IUserAdmin">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.admin/UserAdmin/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.admin.UserDistricts">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.admin.IUserDistricts">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.admin/UserDistricts/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.voters.VoterMaintenance">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.voters.IVoterMaintenance">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.voters/VoterMaintenance/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="VoterWatchServices.voters.VoterInfo">
                <endpoint address="" binding="wsHttpBinding" contract="VoterWatchServices.voters.IVoterInfo">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/VoterWatchServices.voters/VoterInfo/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
