<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="voterwatchEntities" 
         connectionString="metadata=res://*/Tracking.csdl|res://*/Tracking.ssdl|res://*/Tracking.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vwatchdb.celv3evjhsqi.us-east-1.rds.amazonaws.com;User Id=votewatcher;password=Vmaaw22%;Persist Security Info=True;database=voterwatch&quot;" 
         providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>